<h1>Edit your information here</h1>

<%= form_for @question, url: question_path(@question.id) do |f| %>
 <ul>
  <li>Question: <%= f.text_area :steps_taken%></li>
 
 <li> Expected Results: <%= f.text_area :expected_results%></li>
  
  <li>Actual Results: <%= f.text_area :actual_results%></li>
  
  <li>Code Link: <%= f.text_field :code_link%></li>
  
  <li>Urgency Level: <%= f.select :urgency_id, 
    options_for_select([
      [1, 1],
      [2, 2],
      [3,3]
    ])%></li>
  
  <li>Resolved Y/N: <%= f.check_box :resolved%></li>
</ul>
  <%= f.submit %>
<% end %>

     <!-- f.select :urgency_id, options_for_select([
    ["I cannot move forward at all, not even by changing direction.", 1],
    ["This is important, but I can work on something else for a bit.", 2],
    ["General concept question, or otherwise low priority.", 3]
    ]) --> 