<%= form_for @question do |f| %>
  <% if @question.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @question.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label "Question" %>
    <%= f.text_field :steps_taken %>
  </div>
  <div class="field">
    <%= f.label :expected_results %>
    <%= f.text_field :expected_results %>
  </div>
  <div class="field">
    <%= f.label :actual_results %>
    <%= f.text_field :actual_results %>
  </div>
  <div class="field">
    <%= f.label "Link to My Code" %>
    <%= f.text_field :code_link %>
  </div>
  <div class="field">
    <%= f.label "Urgency Status" %>
    <%= f.text_field :urgency_id %>
  </div>
  <div class="field">
    <%= f.hidden_field("user_id", {:value => @user.id})%>
   
  </div>
  <div class="actions"><%= f.submit %></div>
<% end %>