<div class="container">
  <div class="row">
    <%= form_for @question do |f| %>
    <% if @question.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @question.errors.full_messages %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
  </div>

  <div class="row">
<div class="field">
  <h3>Instructions for posting a Question on the Student Queue Manager:</h3>
  <ul>
    <li> 1. Push your code to GitHub, even if/though it's not working as desired.</li>
    <li>2. Make a new Issue in your GitHub repo.</li>
    <li>3. Answer the usual questions in the text of the Issue (what steps taken, expected vs. actual, what you've tried, relevant files).</li>
    <li>4. Post a link to the Issue in a Help channel on Slack.</li>
    <li>5. If you enter an Urgency Level of 1 (I cannot move forward at all, not even by changing direction.) or 2(This is important, but I can work on something else for a bit.), all fields <strong>must</strong> be entered in.</li>
    <li></li>
    <li>If you have a general concept/non-urgent questions, enter it in the first field, and expected and actual results, as well as code link can be left blank.  These questions must have an Urgency level of 3: General concept question, or otherwise low priority.</li>
  </div>
</div>
  
<form class="form-horizontal">
  <div class="row">
    <div class="form-group col-md-4">
      <%= f.label "General Question/Steps Taken: " %>
      </div>
      <div class="col-md-8">
        <%= f.text_area :steps_taken %>
      
    </div>
  </div>
  
  <div class="row">
    <div class="form-group col-md-4">
      <%= f.label "Expected Results Were: " %>
       </div>
      <div class="col-md-8">
        <%= f.text_area :expected_results %>
     
    </div>
  </div>
  
  <div class="row">
    <div class="form-group col-md-4">
      <%= f.label "What Actually Happened: " %>
       </div>
      <div class="col-md-8">
        <%= f.text_area :actual_results %>
     
    </div>
  </div>
    
  <div class="row">
    <div class="form-group col-md-4">
      <%= f.label "Link to My Code: " %>
       </div>
      <div class="col-md-8">
        <%= f.text_area :code_link %>
     
    </div>
  </div>
  
  <div class="row">
    <div class="dropdown">
      <div class="btn btn-default dropdown-toggle">
        <%= f.label "Urgency Status: " %>
        <%= f.select :urgency_id, options_for_select([
        ["I cannot move forward at all, not even by changing direction.", 1],
        ["This is important, but I can work on something else for a bit.", 2],
        ["General concept question, or otherwise low priority.", 3]
        ]) %>
      </div>
    </div>
  </div>
  
  <div class="field">
    <%= f.hidden_field("user_id", {:value => @user.id})%>
  </div>
   
  <div class="form-group">
    <button type="submit" class="btn btn-default">Submit</button>
      <% end %>
    </div>

    
  </form>
</div>