<!-- HTML validated -->
<div class="container">
  <div class="row"> 
    <div class="col-md-6 col-md-offset-1">
      <ul>
        <li>Question: <%= markdown @question.steps_taken %></li>
        <li>Asked by: <%= @asker.name %></li>
        <li>Expected Results: <%= markdown @question.expected_results %></li>
        <li>Actual Results: <%= markdown @question.actual_results %></li>
        <li>Link to my Code: <%= markdown @question.code_link %></li>
        <li>Question status: <%= @urgency.level %></li>
        <li>
          Question resolved: 
          <% if (@question.resolved == true) %>
          YES
          <% else %>
          NO
          <% end %>      
        </li>             
        <li>Time Posted: 
          <%= @question.created_at.localtime.strftime("%b %d at %l:%M") %>
        </li>  
      </ul>
    </div>
    
    <div class="col-md-5">
      <ul>
        <% if(current_user.id == @question.user_id)%>
        <li>If this is your question, you can click this link to edit the question.</li>
        <li>Please mark it resolved once you have your answer!</li>
        <li><a href="/questions/<%= @question.id %>/edit">Edit Your Question</a></li>
        <%end%>
      </ul>
    </div>
  </div>
  
  <div class="clearfix visible-xs-block"></div>
  
  <div class="row">
    <div class= "col-md-6 col-md-offset-1">
      <p>Comments added to this question:</p>
      <p>---------------------------------------------------------------</p>
      <% if (@comments.length != 0) %>
      <ul>
        <% @comments.each do |comment| %>
        <% answered_by = User.find(comment.user_id)%>
            
        <li><%= answered_by.name %> says:
          <ul>
            <li><%= markdown comment.answer %></li>
          </ul>
        </li>
        <li>----------------</li>
        <% end %>
      </ul>
      <% else %>
      <p>None yet. Be the first to answer this question!</p>
      <% end %>
    </div>
    
    <div class="col-md-4">
      
      <p>Add your answer here!</p>
      <%= form_for @comment do |f| %>
      <% if @comment.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% for message in @comment.errors.full_messages %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
  
      <div class="form-group">
        <%= f.label :answer, "Comment" %>
        <%= f.text_area :answer %>
      </div>
    
      <div class="form-group">
        <%= f.hidden_field("user_id", {:value => @user.id})%>
      </div>
  
      <div class="form-group">
        <%= f.hidden_field("question_id", {:value => params[:id]})%>
      </div>
    
      <div class="form-group">
        <%= f.submit %>
      </div>
      <% end %>

        
    </div>
  </div>
</div>

