<%= form_for @question do |f| %>
  <% if @question.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @question.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label "Comment" %>
    <%= f.text_field :answer %>
  </div>
  
  <div class="field">
    <%= f.hidden_field("user_id", {:value => @user.id})%>
   
  </div>
  <div class="actions"><%= f.submit %></div>
<% end %>